:host {
    width: 50%;
}

.content {
    display: flex;
    padding: 35px;
}

input {
    padding: 12px 20px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%
}

button {
    background-color: #e9aa2b;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}